section.rsvp {
    margin: 0 auto;
    margin-bottom: 5rem;
}

section.rsvp h2 {
    font-family: 'AngellaWhite', 'Marcellus', serif;
}

section.rsvp .left-block {
    width: 40%;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}
