section.love-history h2 {
    font-family: 'AngellaWhite', 'Marcellus', serif;
}

section.love-history:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255 237 213);
}

.slick-arrow {
    border: none;
    background: none;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.previous {
    background-image: url('https://jd.exsythemes.com/img/slider/arrow-left.svg');
}

.next {
    background-image: url('https://jd.exsythemes.com/img/slider/arrow-right.svg');
}

.title-underscore:after {
    content: "";
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: #000;
    bottom: 0;
    left: 0;
    /* -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); */
}
