section.venue {
    margin: 0 auto;
    margin-bottom: 5rem;
}

section.venue h2 {
    font-family: 'AngellaWhite', 'Marcellus', serif;
}

.venue-card-title h3:after {
    content: "";
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: #000;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
}

.venue-map {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    left: -38rem;
    top: 5rem;
    background-color: #000;
}