@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AngellaWhite;
  src: url("./fonts/angella_white_font.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-auto {
  height: auto;
}
